<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
    >

    <title>avia-reis</title>

    <style>
        html, body {
            height: 100%;
        }
        body {
            background-color: #6EA1FF;
        }
        p{
            padding: 7px;
        }
        .nav-tabs .nav-link {
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .form-group {
            margin-bottom: 6rem;
        }
        .mb-4, .my-4 {
            margin-bottom: 6.5rem!important;
        }
         hr {
            border: none; /* Убираем границу */
            background-color: #5C5C5C; /* Цвет линии */
            color: #5C5C5C; /* Цвет линии для IE6-7 */
            height: 2px;
            margin-bottom: 120px;
           }
    </style>
  </head>
  <body>


    <ul class="nav nav-tabs d-flex justify-content-center align-items-center" style="background: white">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/root/">Главная</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Поиск авиобилетов</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/list_buy_ticket/">Мои авиобилеты</a>
          </li>
    </ul>

   <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="bg-white shadow-sm" style="border-radius: 5px; margin-top: 100px;">
           <div class="col p-3" style="background: #F3F3F3; border-radius: 5px">
            <h3 class="text-center mb-4" style="margin-bottom: 10px;">Мои билеты</h3>
           {% if not ticket_list.count %}
              <p style="text-align: center"> У вас нет билетов</p>
           {% else %}
                {% for element in ticket_list %}
                    <div class="form-group form-row" style="margin: 30px;" id="{{ element.id }}">


                                <h5 style="margin-top: -40px;; margin-right: -40px;">Туда</h5>
                                    <div class="form-group">
                                        <div class="form-control">{{ element.from_is_time }}</div>
                                        <div class="form-control">{{ element.from_is }}</div>
                                    </div>

                                    <div class="form-group" style="text-align: center">
                                         <div style="padding: 5px;">Продолжительность</div>
                                         <div style="padding: 5px;">{{ element.duration }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-control">{{ element.where_is_time }}</div>
                                        <div class="form-control">{{ element.where }}</div>
                                    </div>



                                    <h5 style="margin-top: -36px;
                                    margin-left: 120px;
                                    margin-right: -81px;">Обратно</h5>
                                <div class="form-group">
                                        <div class="form-control">{{ element.back_from_is_time }}</div>
                                        <div class="form-control">{{ element.back_from_is }}</div>
                                    </div>

                                    <div class="form-group" style="text-align: center">
                                         <div style="padding: 5px;">Продолжительность</div>
                                         <div style="padding: 5px;">{{ element.back_duration }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-control">{{ element.back_where_is_time }}</div>
                                        <div class="form-control">{{ element.back_where }}</div>
                                    </div>


                                        <div class="form-group">
                                        <button type="submit" class="btn btn-warning" id="{{ element.id}}_btn"
                                             style="margin-top: 16px;
                                             margin-left: 20px;">Возврат</button>
                                                    </div>
                    </div>
                    <hr>
               {% endfor %}
           {% endif %}
           </div>
        </div>
    </div>

    <div id="ErrorContent"></div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>

      $(document).on("click", function(e){
          if ($(e.target)[0].outerText === 'Возврат'){

              $('#ErrorContent').empty();

              let id = $(e.target).attr("id").slice(0,-4)

                  $.ajax (
                   {
                       url: 'delete_ticket/',
                       type: 'GET',
                       data: {
                          'id': id,
                      },
                      success: function (id) {
                           id = $(e.target).attr("id")
                           let btn = $(`#${id}`)
                           btn.removeClass('btn btn-warning')
                           .addClass('btn btn-secondary')
                           .css({'pointer-events' : 'none'});
                      },
                      error: function (error) {
                           $("#ErrorContent").append(error)
                      },
                      complete: function(data) {

                      }
                    })
                }
            })
  </script>

    </body>
</html>