 <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="bg-white shadow-sm" style="border-radius: 5px">
           <div class="col p-3" style="background: #F3F3F3; border-radius: 5px">
            <h3 class="text-center mb-4" style="margin-bottom: 10px;">Результат</h3>
           {% if results.error %}
               {{ results.error }}
           {% else %}
                {% for element in results %}
                    <div class="form-group form-row" style="margin: 30px;" id="{{ element.id }}">


                                <h5 style="margin-top: -40px;; margin-right: -40px;">Туда</h5>
                                    <div class="form-group">
                                        <div class="form-control">{{ element.from_is_time }}</div>
                                        <div class="form-control">{{ element.from_is }}</div>
                                    </div>

                                    <div class="form-group" style="text-align: center">
                                         <div style="padding: 5px;">Продолжительность</div>
                                         <div style="padding: 5px;">{{ element.duration }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-control">{{ element.where_is_time }}</div>
                                        <div class="form-control">{{ element.where }}</div>
                                    </div>



                                    <h5 style="margin-top: -36px;
                                    margin-left: 120px;
                                    margin-right: -81px;">Обратно</h5>
                                <div class="form-group">
                                        <div class="form-control">{{ element.back_from_is_time }}</div>
                                        <div class="form-control">{{ element.back_from_is }}</div>
                                    </div>

                                    <div class="form-group" style="text-align: center">
                                         <div style="padding: 5px;">Продолжительность</div>
                                         <div style="padding: 5px;">{{ element.back_duration }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-control">{{ element.back_where_is_time }}</div>
                                        <div class="form-control">{{ element.back_where }}</div>
                                    </div>


                                        <div class="form-group">
                                        <button type="submit" class="btn btn-warning" id="{{ element.btn }}"
                                             style="margin-top: 16px;
                                             margin-left: 20px;">Купить</button>
                                                    </div>
                    </div>
                    <hr>
               {% endfor %}
           {% endif %}
           </div>
        </div>
    </div>