<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
    >

    <title>avia-reis</title>

    <style>
        html, body {
            height: 100%;
        }
        body {
            background-color: #6EA1FF;
        }
        p{
            padding: 7px;
        }
        .nav-tabs .nav-link {
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .form-group {
            margin-bottom: 6rem;
        }
        .mb-4, .my-4 {
            margin-bottom: 6.5rem!important;
        }
         hr {
            border: none; /* Убираем границу */
            background-color: #5C5C5C; /* Цвет линии */
            color: #5C5C5C; /* Цвет линии для IE6-7 */
            height: 2px;
            margin-bottom: 120px;
           }
           .disable_search{
           display: None;
           }
    </style>
  </head>
  <body>



    <div id="Search" class="disable_search"
        style="
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 99;
        opacity: .9;
           "></div>

        <div class="spinner-border disable_search" role="status" id="Loader" style="
        z-index: 999;
        position: absolute;
        color: white;
        margin-top: 400px;
        margin-left: 47%;
        ">
            <span class="sr-only"></span>
        </div>




    <ul class="nav nav-tabs d-flex justify-content-center align-items-center" style="background: white">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/root/">Главная</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Поиск авиобилетов</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/list_buy_ticket/">Мои авиобилеты</a>
          </li>
    </ul>



    <div class="container-fluid d-flex h-50 justify-content-center align-items-center">
        <div class="row bg-white shadow-sm" style="border-radius: 5px">
           <div class="col p-3" style="background: #F3F3F3; border-radius: 5px">
            <h3 class="text-center mb-3">Поиск авиабилетов</h3>
               <form class="form-inline" id="AviaSearch">
                  <div class="form-group">
                    {{ form.as_p }}
                  </div>
                   <button type="submit" class="btn btn-warning">Найти билет</button>
                </form>
           </div>
        </div>
    </div>

    <div id="AviaReisContent"></div>
    <div id="ErrorContent"></div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
      $(document).ready(function () {
          $('#AviaSearch').submit(function (e) {
               e.preventDefault()

              $('#AviaReisContent').empty();
              $('#ErrorContent').empty();

              var from_is = $('#id_from_is').val()
              var where = $('#id_where').val()
              var when = $('#id_when').val()
              var back = $('#id_back').val()
              var passengers = $('#id_passengers').val()
              var classe = $('#id_classe').val()



              $('#Search').removeClass('disable_search')
              $('#Loader').removeClass('disable_search')

               $.ajax (
                   {
                       url: 'list_reis/',
                       type: 'GET',
                       data: {
                          'from_is': from_is,
                          'where': where,
                          'when': when,
                          'back': back,
                          'passengers': passengers,
                          'classe': classe,
                      },
                      success: function (html) {
                          if (html['error']){
                              $("#AviaReisContent").append(html['error'])
                          }
                          else{
                              $("#AviaReisContent").append(html)
                          }
                      },
                      error: function (error) {
                          $("#ErrorContent").append(error)
                      },
                      complete: function(data) {
                          $('#Search').addClass('disable_search')
                          $('#Loader').addClass('disable_search')
                      }
                    })
          });
      })

      $(document).on("click", function(e){
          if ($(e.target)[0].outerText === 'Купить'){

              let id = $(e.target).attr("id").slice(0,-4)
              let form = $(`#${id}`)[0].children
              let form_data = [];

              $.each(form,function(key,data) {
                  for (let i = 0; i < data?.textContent.trim().split("\n").length; i++) {
                      form_data.push({
                       key : data?.textContent.trim().split("\n")[i]
                      })
                  }
              });

                  $.ajax (
                   {
                       url: 'buy_ticket/',
                       type: 'GET',
                       data: {
                          'form_data': form_data,
                      },
                      success: function (id) {
                           id = $(e.target).attr("id")
                           let btn = $(`#${id}`)
                           btn.removeClass('btn btn-warning')
                           .addClass('btn btn-secondary')
                           .css({'pointer-events' : 'none'});
                      },
                      error: function (error) {
                      },
                      complete: function(data) {

                      }
                    })
                }
            })
  </script>


  </body>
</html>